<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brave_bunny.dndhelper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".create.CreateActivity"
            android:label="@string/create_character">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brave_bunny.dndhelper.MainActivity" />
        </activity>
        <activity
            android:name=".select.SelectActivity"
            android:label="@string/select_character">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brave_bunny.dndhelper.MainActivity" />

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".play.DetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brave_bunny.dndhelper.select.SelectActivity" />
        </activity>
        <activity android:name=".create.base.AbilityActivity" />
        <activity
            android:name=".create.skills_feats.SkillsActivity"
            android:label="Skiills">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brave_bunny.dndhelper.MainActivity" />
        </activity>
        <activity
            android:name=".play.battle.BattleActivity"
            android:label="@string/title_activity_battle"
            android:parentActivityName=".play.DetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brave_bunny.dndhelper.play.DetailActivity" />
        </activity>
        <activity
            android:name=".create.classes.DeityActivity"
            android:label="@string/title_activity_deity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brave_bunny.dndhelper.create.CreateActivity" />
        </activity>
        <activity
            android:name=".create.classes.SpellActivity"
            android:label="@string/title_activity_spell"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brave_bunny.dndhelper.create.CreateActivity" />
        </activity>
        <activity
            android:name=".create.classes.FamiliarActivity"
            android:label="@string/title_activity_familiar"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brave_bunny.dndhelper.create.CreateActivity" />
        </activity>
        <activity
            android:name=".create.skills_feats.FeatActivity"
            android:label="@string/title_activity_feat"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brave_bunny.dndhelper.create.CreateActivity" />
        </activity>
    </application>

</manifest>