<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brave_bunny.dndhelper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".create.CreateActivity"
            android:label="@string/create_character"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brave_bunny.dndhelper.MainActivity" />
        </activity>
        <activity
            android:name=".select.SelectActivity"
            android:label="@string/select_character">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brave_bunny.dndhelper.MainActivity" />

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".play.DetailActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brave_bunny.dndhelper.select.SelectActivity" />
        </activity>
        <activity android:name=".create.abilities.AbilityActivity" />
        <activity
            android:name=".create.list_with_ranks.DnDRankActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brave_bunny.dndhelper.create.CreateActivity" />
        </activity>
        <activity
            android:name=".play.battle.BattleActivity"
            android:label="@string/title_activity_battle"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brave_bunny.dndhelper.play.DetailActivity" />
        </activity>
        <activity
            android:name=".create.list_without_ranks.DnDListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brave_bunny.dndhelper.create.CreateActivity" />
        </activity>
        <activity
            android:name=".play.battle.CastSpellActivity"
            android:parentActivityName=".play.DetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.brave_bunny.dndhelper.play.DetailActivity" />
        </activity>

        <receiver
            android:name=".widget.CharacterWidgetProvider"
            android:label="@string/character_widget"
            android:enabled="@bool/widget_detail_enabled"
            android:icon="@drawable/scroll">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.brave_bunny.dndhelper.app.ACTION_DATA_UPDATED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/character_appwidget_info" />
        </receiver>
        <service
            android:name=".widget.CharacterWidgetIntentService"
            android:enabled="@bool/widget_detail_enabled"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <provider
            android:authorities="@string/content_authority"
            android:name=".database.character.CharacterProvider"
            android:exported="false"
            android:syncable="true" />
    </application>
</manifest>